@import url(/trilha-css-desafio-projeto-clone-youtube/assets/styles/reset.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 12px 24px;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 1440px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 128px;
}

.nav-esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.nav-esquerda img {
  width: 120px;
  height: 28px;
  margin-left: 24px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav-pesquisa {
  width: 380px;
  height: 40px;
  border: 2px solid #cccccc;
  display: flex;
  justify-content: end;
}

.nav-pesquisa section {
  background-color: #cccccc;
  padding: 5px 12px;
}

.nav-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav-direita .avatar {
  background-color: #cccccc;
  border-radius: 64px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudos {
  margin: 32px 42px;
  display: flex;
  width: 1440px;
}

.conteudo {
  width: 1000px;
}
.titulo_conteudo {
  width: 1100px;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 22px;
}

.conteudo_inscritos {
  display: flex;
  gap: 8px;
  align-items: center;
}

.conteudo_inscritos p {
  font-weight: 600;
}

.conteudo_inscritos span {
  color: #717070;
  font-weight: 600;
}

.conteudo_acoes {
  display: flex;
  gap: 8px;
}

.conteudo_canal {
  display: flex;
  height: 45px;
  gap: 48px;
  align-items: center;
  margin-bottom: 32px;
}

.conteudo img {
  border-radius: 24px;
}

.conteudo button {
  background-color: red;
  color: white;
  border-color: red;
  border-radius: 4px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.conteudo h3 {
  font-size: 18px;
}

.conteudo_descricao {
  width: 550px;
  height: 64px;
  margin-top: 16px;
  color: #717070;
}

.conteudo_videos {
  margin-left: 82px;
}

.conteudo_videos img {
  width: 200px;
}

.conteudo_videos div {
  margin-top: 8px;
}

.videos p {
  font-size: 12px;
  color: #717070;
  margin-top: 4px;
}

.videos h3 {
  font-weight: bold;
}

.videos {
  display: flex;
  gap: 8px;
}
